**/**.jld2
**/**.csv
**/*Manifest.toml
Manifest.toml
julia-code/Manifest.toml
/poetry.lock

# Exclude dataset directories
/julia-code/data/datasets/arxiv/
/julia-code/data/datasets/lego/
/julia-code/data/datasets/otu/
/julia-code/data/datasets/gtex/
/julia-code/data/datasets/gowalla/
/julia-code/data/datasets/rfc/
/julia-code/data/datasets/bci.tree/
/julia-code/data/datasets/gaia/
/julia-code/data/datasets/gutenberg/
/julia-code/data/datasets/taraocean/
/julia-code/figures/

# Exclude temporary files
tmp/
tmp.*/
/.git-old/
.ipynb_checkpoints/
/.dir-locals.el
/.projectile
*.ipynb
**/*ipynb
**/*.ipynb
